body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    box-sizing: border-box;
}

.win{
    color: rgb(0, 255, 42);
}
.lose{
    color: red;
}
section{
    display: flex;
    height: 75vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.board{
    display: flex;
    width: 250px;
    flex-wrap: wrap;
}

input{
    display: block;
    width: 75px;
    height: 75px;
    margin: 0;
    font-size: 42px;
    text-align: center;
}